<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.zchu.archapp.login">

    <application>
        <activity android:name=".SignInActivity"
            android:theme="@style/Theme.Saltoken.TranslucentStatus"/>
    </application>
</manifest>